@import '../common.scss';

.form-button {
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 55px;
    text-align: center;
    border: none;
    background-size: 300% 100%;
    background: linear-gradient(to right, #00DECC, #00A1FC);
    box-shadow: 0 4px 15px 0 rgb(36 199 218 / 75%);
    border-radius: 50px;
    transition: all .4s ease-in-out;

    &:hover {
        border: 1px solid #00DECC;
        color: #00DECC;
        background: transparent;
    }

    &:focus {
        outline: none;
    }
}