@import '../animation.scss';

.sidebar-wrapper {
	position: fixed;
	top: var(--header-height);
	left: 0px;

	background: rgba($color: white, $alpha: 0.3);
	backdrop-filter: blur(5px);

	z-index: 15;

	width: var(--web-width);
	height: var(--web-height);
}

.sidebar {
	$width: 230px;

	position: fixed;
	top: var(--header-height);
	right: -$width;
	background-color: white;
	border-left: 2px solid whitesmoke;
	width: $width;
	height: calc(100% - var(--header-height));
	z-index: 16;

	&.open {
		@include slide-in-animation($width);
	}

	&.close {
		@include slide-out-animation($width);
	}
}

.switch {
	display: flex;
	align-items: center;
	font-size: 2.5rem;
	border: transparent;
	background-color: transparent;
	cursor: pointer;
}

.mobile-nav {
	display: flex;
	flex-direction: column;
}

.link {
	display: flex;
	align-items: center;
	gap: 10px;

	color: grey;
	padding: 10px 20px;
	text-decoration: none;
	transition: 0.3s;

	&:hover {
		color: black;
	}

	&.active {
		color: var(--primary);
	}
}

.hamburger {
	color: darkgrey;
}