{
  "extends": ["stylelint-config-standard", "stylelint-config-prettier"],
  "rules": {
    "at-rule-no-unknown": false,
    "no-descending-specificity": false,
    "declaration-block-no-shorthand-property-overrides": false,
    "declaration-block-no-redundant-longhand-properties": false,
    "no-invalid-double-slash-comments": false
  }  
}