.container-center {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
}

.container-content {
    width: 100%;
    display: flex;
    justify-content: center;
}

.container-between {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #626262;
    vertical-align: text-bottom;
    font-size: large;

    .logo {
        --size: 40px;

        width: var(--size);
        height: var(--size);
    }

    p {
        margin: 0;
    }
}

.width1 {
    width: 60px;
}

.width2 {
    flex: 1;
    text-align: right;
}

.custom-between {
    width: 100%;
    display: flex;
    align-items: center;
    color: #626262;
    vertical-align: text-bottom;
    font-size: large;

    p {
        margin: 0;
    }
}