.container-center {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
}

.container-content {
    width: 100%;
    display: flex;
    justify-content: center;
}

.container-between {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items:center;
    color: #626262;
    vertical-align: middle;
    font-size: large;

    .logo {
        --size: 45px;
    
        width: var(--size);
        height: var(--size);
    }
}