@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

.header {
	position: fixed;
	top: 0;
	margin: 0;
	padding: 0px 20px;

	width: 100%;
	height: var(--header-height);

	display: flex;
	justify-content: space-between;
	align-items: center;

	border: 2px solid whitesmoke;
	box-sizing: border-box;
	background-color: white;
	z-index: 20;
}

.wrapper {
	display: flex;
	align-items: center;
	gap: 10px;

	&:active {
		color: var(--primary);
	}
}

.logo {
	font-family: 'Jua', sans-serif;
	--size: 30px;

	width: var(--size);
	height: var(--size);
}

.title {
	font-family: 'Jua', sans-serif;
	color: darkgray;
	font-size: 1.4rem;
	font-weight: bold;
}