<<<<<<< HEAD
@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

=======
>>>>>>> main
:root {
	--primary: rgb(0, 200, 255);
	--secondary: rgb(255, 255, 255);

	// 웹 페이지 사이즈
	--web-width: 414px;
	--web-height: 896px;

	--header-height: 50px;

	--font-size: 14px;
	font-family: 'Jua', sans-serif;
}

html,
body {
	margin: 0px;
	padding: 0px;

	min-width: var(--web-width);
	min-height: var(--web-height);

	font-size: var(--font-size);

	section.page {
		padding-top: var(--header-height);
	}
}