.mypage {
	display: flex;
	flex-direction: column;
}

.user-info-box {
	display: flex;
	justify-content: space-between;
	gap: 20px;

	width: 100%;

	img {
		--size: 120px;

		width: var(--size);
		height: var(--size);

		border-radius: 50%;
		box-shadow: 0px 0px 10px dimgray;
	}

	div {
		display: flex;
		flex-direction: column;

		h1 {
			font-size: 3rem;
			font-weight: bolder;
			color: white;

			margin: 0px;
		}

		h3 {
			display: flex;
			align-items: center;
			gap: 3px;

			font-size: 1.5rem;
			font-weight: bold;
			color: white;

			margin: 0px;
		}
	}
}

.user-info-assets {
	display: flex;
	justify-content: center;
	gap: 20px;

	width: 100%;
}

.user-info-assets-item {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 5px;
	flex: 1;

	border-radius: 10px;

	background-color: rgba($color: white, $alpha: 0.2);
	padding: 20px;

	.percent {
		margin: 0px;
		font-size: 1.4rem;
		font-weight: bold;
		color: white;
	}
}

.menu {
	display: flex;
	flex-direction: column;
	gap: 30px;

	padding: 20px;
	margin-top: 20px;
}

.menu-row {
	display: flex;
	flex-direction: column;
	gap: 10px;

	h4 {
		margin: 0px;
		color: #8b95a1;
		font-size: 1.5rem;
	}

	button {
		padding-top: 10px;
		padding-bottom: 10px;
	}
}